@CHARSET "UTF-8";

.g-panel {
	/*position: absolute;
	min-width: 240px;
	width: 320px;
	
	float: left;
	text-align: left;*/
	margin: 0pt 0pt 5px;
}

.g-panel .hd {
	border-style: solid solid solid;
	border-width: 1px 1px 0;
	border-color: #7AA5D6 #C5D7EF #C5D7EF;
	
	background-color: #E5ECF9;
	
	color: #3366CC;
	
	height: 20px;
	line-height: 20px;
	
	padding: 0 5px;
}

.g-panel .bd {
	border: solid 1px #C5D7EF;
	background-color: #FFFFFF;
	
	padding :5px;
	/*min-height: 240px;*/
}

.g-panel .bd a img {
	border-style: none;	
}

.g-panel .ft {
	border: solid 1px #C5D7EF;
	border-style: none solid solid;
	
	background-color: #FFFFFF;
}

.g-tip {
	display: none;
	border: solid 1px #C5D7EF;
	background: #E5ECF9 url(assets/animated-loading.gif) center center no-repeat;
	height: 100px;	
}

.g-tip.large {
	background: #E5ECF9 url(assets/animated-loading-large.gif) center center no-repeat;
}