@CHARSET "UTF-8";

html body {
	text-align: center;
	font-family: Tahoma, Arial, Sans-serif;	
	font-size: 9pt;
}

.clear {
	clear: both;
}

div.digg-board {	
	width: 600px;
	
	text-align: left;
	margin-left: auto;
	margin-right: auto;	
}

div.digg-board div.hd {
	border-style: solid solid solid;
	border-width: 1px 1px 0;
	border-color: #7AA5D6 #C5D7EF #C5D7EF;
	
	background-color: #E5ECF9;
}


div.digg-board div.bd {
	border: solid 1px #C5D7EF;
	
	padding: 10px;
}

.btn {
	display: block;
	width: 48px;
	height: 36px;
	/*line-height: 36px;*/
	
	border-style: none;
	background: url(assets/digg-button-thin.png) left top no-repeat;
	
	margin-right: 5px;
}

a.btn, .op button.btn {
	text-align: center;
	text-decoration: none;
	float: left;
}

.digg-btn {
	height: 48px;
	
	background: url(assets/digg-button-min.png) left top no-repeat;
}

div.digg-board div.hd ul, div.digg-board div.bd ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	
	margin: 0;
	padding: 3px;
}

div.digg-board div.hd ul {
	height: 36px;	
}

div.digg-board div.bd ul {	
}

div.digg-board div.hd ul li {
	width: 64px;
	
	float: left;
	clear: none;
}

div.digg-board div.bd ul li {
	border-bottom: solid 1px #CFCFCF;
	
	padding: 5px 5px 5px 60px;
	overflow: hidden;
}

div.digg-board div.bd ul li a.avator {
	float: left;
	margin-left: -55px;
	overflow: hidden;
}

div.digg-board div.bd ul li a.author {
	float: left;
	margin-right: 0.3em;
}

div.digg-board div.bd ul li span {
	margin-left: 0.3em;
}

div.digg-board div.bd ul li span.op {
	clear: left;
}

.g-panel {
	position: absolute;
	min-width: 240px;
	/*width: 320px;*/
	
	float: left;
	text-align: left;
}

.g-panel .hd {
	border-style: solid solid solid;
	border-width: 1px 1px 0;
	border-color: #7AA5D6 #C5D7EF #C5D7EF;
	
	background-color: #E5ECF9;
	
	height: 20px;
	line-height: 20px;
}

.g-panel .bd {
	border: solid 1px #C5D7EF;
	background-color: #FFFFFF;
	
	min-height: 240px;
}

.g-panel .ft {
	border: solid 1px #C5D7EF;
	border-style: none solid solid;
	
	background-color: #FFFFFF;
}

