@CHARSET "UTF-8";

.avator-preview {
	padding: 5px;
}

#avator-preview-img {
	width: 96px;
	height: 96px;
}

.avator-preview {
		
}

.avator-preview img {
	float: left;
	padding-left: -96px;
}

.avator-preview .info {
	margin-left: 5px;
	padding: 0 0 0 100px;
}

.avator-preview span {
	display: block;
	margin: 5px 0;
}

.avator-form {
	margin-left: 100px;
	padding: 0 5px;	
}
