<div id="feed" class="g-panel">
	<div class="hd">
		<span>订阅本站</span>
	</div>
	<div class="bd">
		<a href="http://www.zhuaxia.com/add_channel.php?url=http://digg.wjl.cn/feed.php" target="_blank">
			<img src="images/feed/icon_subshot02_zhuaxia.gif"></img>
		</a>
		<a href="http://www.xianguo.com/subscribe.php?url=http://digg.wjl.cn/feed.php" target="_blank">
			<img src="images/feed/icon_subshot02_xianguo.jpg"></img>
		</a>
		<a href="http://add.my.yahoo.com/rss?url=http://digg.wjl.cn/feed.php" target="_blank">
			<img src="images/feed/icon_subshot02_yahoo.gif"></img>
		</a>
		<a href="http://fusion.google.com/add?feedurl=http://digg.wjl.cn/feed.php" target="_blank">
			<img src="images/feed/icon_subshot02_google.gif"></img>
		</a>
		<a href="http://www.pageflakes.com/subscribe.aspx?url=http://digg.wjl.cn/feed.php" target="_blank">
			<img src="images/feed/icon_subshot02_pageflakes.gif"></img>
		</a>
		<a href="http://www.bloglines.com/sub/http://digg.wjl.cn/feed.php" target="_blank">
			<img src="images/feed/icon_subshot02_bloglines.gif"></img>
		</a>
	</div>
</div>