@CHARSET "UTF-8";

div.form-field {
	width: 290px;
	margin-left: auto;
	margin-right: auto;
}

div.form-field input.text, div.form-field input.password {
	display: block;	
}

div.form-field label {
	display: block;
}

div.form-field input.text, div.form-field input.password {
	font-size: 14px;
	font-weight: bold;
	width: 280px;
	height: 18px;
	line-height: 18px;
}